doctype html
html(lang='zh-Hant')

	head

		include ./common/head.pug

		title Blogger Editor

		script(src='https://apis.google.com/js/api.js')

	body

		.login-wrap
			#btn-sign-in
				img(src=require('../images/login-button.png'))
