@import '../common.css';

.login-wrap {
	display: none;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;

	& #btn-sign-in {
		text-align: center;
		cursor: pointer;
		width: 240px;
		height: 50px;

		&:hover {
			opacity: 0.9;
		}

		& img {
			width: 240px;
			height: 50px;
		}
	}

	&._show {
		display: flex;
	}
}
